
 @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lexend:wght@100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contactBack {
    background: url(../Images/newContactBack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formBack {
    background: url(../Images/formBack.png);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.formName, .formSubject {
    background: url(../Images/formName.png);
    border-image: linear-gradient(45deg, rgb(236, 197, 132), rgb(252, 252, 252)) 1;
}

.formEmail, .formPhone {
    background: url(../Images/formEmailAndPhone.png);
    border-image: linear-gradient(45deg, rgb(236, 197, 132), rgb(252, 252, 252)) 1;
}

.formMessage {
    background: url(../Images/formMessage.png);
    border-image: linear-gradient(45deg, rgb(236, 197, 132), rgb(252, 252, 252)) 1;
}

.sendMessageButton {
    height: 50px;
    width: 320px;
    border: 2px solid;
    border-image: linear-gradient(45deg, rgb(252, 252, 252), rgb(51, 120, 153)) 1;
    background: -webkit-linear-gradient(45deg, rgb(236, 197, 132) 20%, rgb(252, 252, 252) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sendMessageButton:hover{
    border-image: linear-gradient(45deg, rgb(51,120,153), rgb(252,252,252)) 1 !important;
    background: -webkit-linear-gradient(45deg, rgb(51,120,153) 20%, rgb(236, 197, 132) 80%);
    background: linear-gradient(45deg, rgb(51,120,153) 20%, rgb(236, 197, 132) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.informationBack {
    background: url(../Images/informationBack.png);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding: 20px;
}

.officeLabel, .phoneLabel, .emailLabel, .openingLabel {
    background: -webkit-linear-gradient(23deg, rgb(236, 197, 132) 3%, rgb(252, 252, 252) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.officeQuote, .phoneQuote, .emailQuote, .openingQuote {
    color: white;
}

.officeDetail, .phoneDetail, .emailDetail, .openingDetail {
    color: white;
    font-weight: 600;
}

.contactTitle {
    background: -webkit-linear-gradient(45deg, rgb(236, 197, 132) 20%, rgb(252, 252, 252) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px !important;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
}

.contactSubTitle {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.number {
    line-height: 10px;
}

.map iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
iframe{
    padding: 20px;
    margin: 0px;
    width: 100%;
    border-radius: 30px;
   
  }
@media (max-width: 768px) {
    .map iframe {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .map iframe {
        height: 200px;
    }
}

@media (max-width: 992px) {
    .formBack,
    .informationBack {
        height: auto;
    }
}

