
.fullWidthRow {
    margin-left: 0;
    margin-right: 0;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col .social-links{
    text-align: start;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  
}
.footer-col .social-links a:hover{
    color: #23262b;
    background-color: #ffffff;
} 



 
