@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.navbar {
     /* background-color: transparent;  */
     background-color: rgb(11, 10, 16);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
     /* position: fixed !important;  */
   
    /* z-index: 20;  */
    transition: 0.4s;

  }
  
  .colorChange{
    width: 100%;
    position: fixed;
    height: 10vh;
    background-color: rgb(18, 184, 230);
        
  }


  
  .nav-container {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    /* max-width: 1500px; */
  }
  
  .nav-logo {
    text-decoration: none;
    height: 10vh;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
   

  }
  .nav-logo img{
height: 8vh;
margin-bottom: 18px;


  }
  
  .nav-logo .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-left: 16px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  /* .fa-code {
    margin-left: 1rem;
  } */
  
  .nav-item {
    line-height: 30px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    margin: 0 auto;
    width: 70%;
    background: white;

  }
  
  /* .nav-item .active {
    color: #ffdd40;
  
  } */
  
  .nav-icon {
    display: none;
    color: #f5b921;
  }
  
  .nav-icon .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 67px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      padding: 20px;
    }
  
    .nav-menu.active {
      background:rgb(18, 184, 230);;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
    /* .nav-item .active {
      color: #ffdd40;
      border: none;
    } */
    .nav-links {
      width: 100%;
      display: table;
    }
  
    .nav-logo .icon {
      width: 2rem;
      height: 2rem;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }
  