.privacyBack{
    background: url(../Images//discoverBack.png);
    background-color: black;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}
.privacyBackground{
    background: url(../Images//privacypolicyBackground.png);
    background-color: black;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}
.privacyTitle{
    background: -webkit-linear-gradient(45deg, rgb(236, 197, 132) 20%, rgb(252, 252, 252) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px !important;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
}
.privacyDiscription{
    color: white;
}
.privacyQustion{
    font-size: 20px;
}
.privacyDetails{
    font-size: 16px;
    color: white;
    text-align: justify;
    line-height: 30px;
}