 ul li:hover {
    margin-left: 10px; 
    transition: margin-left 0.10s ease;
  

    
}
.footerBlock{
    background-color: black;
}

.fullWidthContainer {
    padding-left: 0;
    padding-right: 0;
}

.fullWidthRow {
    margin-left: 0;
    margin-right: 0;
}
