
*{


    margin: 0px;
    padding: 0px;
    max-width: 100%;
}
   

.content h1{
    color: white;
    font-family: "Nunito Sans", sans-serif;;
    font-size: 130px;
    font-weight: 900;
   
}
.content h3{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(94, 93, 93);
   
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 35px; 
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .content h1 {
        font-size: 40px; 
    }
}

@media (min-width: 993px) {
    .content h1 {
        font-size: 100px; 
    }
}
.btn{
    margin-top: 50px;
    line-height: 5;
}
.btn1{
    height: 50px;
    width: 300px;
    background-color: #793ea5;
    border: 0px;
    border-radius: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-size: small;
    
}
.btn1 a{
    color: white;
    text-decoration: none;
}
.btn2{
    height: 50px;
    width: 300px;
    background-color: #13161b;
    border: 0px;
    border-radius: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-size: small;
}
.btn2 a{
    color: white;
    text-decoration: none;
}
/* ************************************ */

/* Header */
.largeheader {
    position: relative;
    width: 100vh;
    background: red;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }


  .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: red;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }
  
  .demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
  }
  
  .main-title .thin {
    font-weight: 200;
  }
  
  @media only screen and (max-width : 768px) {
    .demo-1 .main-title {
      font-size: 3em;
    }
  }
  /* ::-webkit-scrollbar{
    width: 15px;
  }
   ::-webkit-scrollbar-track{
    background-color: black;
  }
  ::-webkit-scrollbar-thumb{
    background-color: goldenrod;
    border-radius: 100px;
  } */