@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: "Nunito Sans", sans-serif;
}
.logo{
    height: auto;
    width: 100px;
    margin-left: 20px !important;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: rgb(138, 64, 64);
}
.sideBar{
    background-color: #12021f;
    color: rgb(194, 85, 85);
    font-family:  "Montserrat", sans-serif;
    font-weight: 900;
   
}

.sideBarBody{
    line-height: 3;
    color: white;
    /* background: linear-gradient(rgb(12, 12, 51),rgb(63, 1, 1)); */
    background-color:#12021f;
    font-family: "Josefin Sans", sans-serif;

    font-size: 20px;
    font-weight: 900;
}
.roundedButton {
    width: 40px; 
    height: 40px; 
    padding: 0; 
}


.stickyNav {
    background-color: #ffffff; 
    z-index: 1000; 
}

.stickyToggle {
    z-index: 1001; 
    background-color:  #262525 ;
    font-size: 25px;
    border: none;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stickyToggle:hover{
    background-color: goldenrod;
    border: none;
    transform: rotate(180deg);
}


.logo {
    height: 80px;
    width: 200px;
    padding: 10px;
}

.navBar {
    padding: 10px 0; 
}

.sideBar {
   color: white;
    border: none;
    
}
.closeButton {
    transition: transform 0.3s ease-in-out;
    margin: 20px;
} 
.closeButton:hover {
    transform: rotate(90deg);
}
.sideBarBody {
    padding: 20px;
}


.navLink {
    text-decoration: none;
    color: white;
    font-weight: 400;
    
}

.navBar{
    background-color: rgb(26, 25, 25);
    height: 10vh;
   position: sticky;
   top: 0;
 
}

.sociallinks{
    height: 40px;
    width: 40px;
    background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}
.sociallinks a{
color: white;
}
.sociallinks:hover{
    background-color: gold;
   transition: 1s;
   color: black;
}

  
.navbar-nav{
    margin-right: 500px;
    padding: 100px;
}