.container {
 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color:  rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    

  }
  .backgroundImage{
    opacity: 0.5;
  }
  .but{
    border-radius: none;
  }